<div class="p-grid p-align-center">
   <div class="p-col-4">
      <img class="imagen" src="\assets\Images\logo.JPG" routerLink = "/home" >
   </div>
   <div class="p-grid p-col-8 p-justify-center">
      <button pButton type="button" routerLink = "/gallery/peru" class="ui-button" label="Peru"></button>
      <button pButton type="button" routerLink = "/gallery/guatemala" class="ui-button" label="Guatemala"></button>
      <button pButton type="button" routerLink = "/gallery/otherstories" class="ui-button" label="Other Stories"></button>
      <button pButton type="button" routerLink = "/gallery/portraits" class="ui-button" label="Portraits"></button>
      <button pButton type="button" routerLink = "/gallery/palimpsestos" class="ui-button" label="Palimpsestos"></button>
      <button pButton type="button" routerLink = "/gallery/videos" class="ui-button" label="Videos"></button>
      <button pButton type="button" routerLink = "/bio" class="ui-button" label="Bio"></button>
      <button pButton type="button" routerLink = "/contact" class="ui-button" label="Contact"></button>
   </div>
</div>