<div class="p-grid p-align-center">
   <div class="p-col-4">
      <img class="imagen" src="\assets\Images\logo.JPG">
   </div>
   <div class="p-grid p-col-8 p-justify-center">
      <p-button class="botones" label="Peru" (onClick)="activar()"></p-button>
      <p-button class="botones" label="Guatemala" (onClick)="activar()"></p-button>
      <p-button class="botones" label="Other Stories" (onClick)="activar()"></p-button>
      <p-button class="botones" label="Portraits" (onClick)="activar()"></p-button>
      <p-button class="botones" label="Palimpsestos" (onClick)="activar()"></p-button>
      <p-button class="botones" label="Videos" (onClick)="activar()"></p-button>
      <p-button class="botones" label="Bio" (onClick)="activar()"></p-button>
      <p-button class="botones" label="Contact" (onClick)="activar()"></p-button>
   </div>
</div>

<div *ngIf="activo == true">
   <span>hola aqui vamos</span>
</div>