<div class="p-grid p-align-center">
   <div class="p-col-4">
      <span class="titulo" routerLink = "/home">Neko Travels</span>
   </div>
   <div class="p-grid p-col-8 p-justify-center">
      <button pButton type="button" routerLink = "/gallery/colombia" class="ui-button" label="Colombia"></button>
      <button pButton type="button" routerLink = "/gallery/argentina" class="ui-button" label="Argentina"></button>
      <button pButton type="button" routerLink = "/gallery/otrospaises" class="ui-button" label="Otros Paises"></button>
      <button pButton type="button" routerLink = "/gallery/noticias" class="ui-button" label="Noticias"></button>
      <!-- <button pButton type="button" routerLink = "/gallery/palimpsestos" class="ui-button" label="Palimpsestos"></button> -->
      <button pButton type="button" routerLink = "/gallery/videos" class="ui-button" label="Videos"></button>
      <button pButton type="button" routerLink = "/bio" class="ui-button" label="Bio"></button>
      <button pButton type="button" routerLink = "/contact" class="ui-button" label="Contact"></button>
   </div>
</div>