<h1 style="text-align: center"> BIOGRAPHY </h1>

<div class="p-grid p-align-left">
  <div class="p-col-6">
    <p>
      Rodrigo Abd was born in Buenos Aires, Argentina, on October 27, 1976. His
      career began as a staff photographer at La Razón and La Nación newspapers
      in Buenos Aires, Argentina, from 1999 to 2003. Since 2003 he has been a
      staff photographer for the Associated Press based in Guatemala, with the
      exception of 2006, when he was based in Kabul, Afghanistan. Rodrigo has
      worked on AP special assignments covering the political turmoil in Bolivia
      in 2003 and Haiti in 2004. He also covered Venezuela’s presidential
      elections in 2007 and 2012, and the earthquake in Haiti in 2010. In 2010,
      he has twice been embedded with US troops in the Kandahar province,
      Afghanistan. In 2011 he covered the political conflict in Lybia. In 2012
      he covered the Syrian armed conflict. Abd, along with fellow AP
      photographers, Manu Brabo, Narciso Contreras, Khalil Hamra, and Muhammed
      Muheisen, were awarded the 2013 Pulitzer Prize for Breaking News
      Photograph for his gripping work covering the Syrian civil war. Currently
      based in Lima, Peru.
    </p>
  </div>

  <div class="p-col-6">
    <img src="assets\Images\bio.jpg" alt="bio" width="600px" />
  </div>
</div>



<div class="p-grid p-align-left">
  <div class="p-col-6">
    <p>
      2003 Sigma Delta Chi Award in Art/Graphic & Photography Features 2004
      Outstanding Photo Essay National Award Clarion Award for his piece Culture
      of Violence in Guatemala POYi Award, Newspaper Division / Issue Reporting
      Picture Story, 2nd Place for his work "Guatemala Gangs" 2006 Nobel Prize
      winner Gabriel García Márquez’ Foundation, Finalist for “Nuevo Periodismo
      Award” World Press Photo Award, 3rd Place for his piece Gangs in Guatemala
      Selected to participate in the Joop Swart Masterclass organized by the
      World Press Photo Foundation 2008 POYi Award, Newspaper Division, Feature
      Picture Story 1st Place for his work "Cemetery Dues" 2009 Atlanta
      Photojournalist Seminar, 2nd prize in the News Picture Story category for
      his work Guatemalan Violence 2010 POYi Award, General Division, Feature
      Picture Story, 3rd Place for his work "A Lucrative business" National
      Journalism Award from the Scripps Howard Foundation for Photo Essays about
      the Funeral Business in Guatemala and Political Unrest in Honduras His
      work had been exhibited in the Visa Pour L'Image Photo Festival in
      Perpignan, France 2011 Overseas Press Club of America, Feature Photography
      Award for his work on an Emergency Room in Guatemala POYi Latino America,
      Photographer of the year, 2nd Place POYi Latino America, Sociedad y
      Conflicto, 1st Place and Mention His work call Palimpsestos had been
      exhibited in Foto Cafe, El Salvador Atlanta Photojournalism Seminar, Best
      Portfolio. Honorable Mention in the Category Portrait/Personality 2012
      CHIPP China International Press Photo Contest, Silver Medal "Daily Life
      Story" for his work Quiet Libya CHIPP China International Press Photo
      Contest, Silver Medal "People in the News/Portrait Story" for his work
      Mayan Queens Atlanta Photojournalism Award, Honorable mention Spot news
      Atlanta Photojournalism Award, 3rd place and Honorable mention for Feature
      Atlanta Photojournalism Award, 3rd place Portrait/Personality 2013 Poyi
      Third Place, Rodrigo Abd, Associated Press, "SON IN MOURNING" Poyi Award
      of Excellence, Rodrigo Abd, Associated Press, "EVICTED" World Press Photo,
      1st prize singles General News Pulitzer Prize, Breaking News 2014 Taller
      Escuela Agencia (TEA), Buenos Aires, Argentina, Guatemala and Syria by
      Rodrigo Abd (individual photo exhibition). 2015 Centro Conde Duque,
      Madrid, España, Upfront (collective photo exhibition) 2016 Maria Moors
      Cabot Prize/Columbia University, for excellence in coverage of Latin
      America and Caribbean Centro de la Fotografía, Montevideo, Uruguay, The
      Afghan Camera (individual photo exhibition) 2017 Fototeca Latinoamericana
      (Fola), Buenos Aires, Argentina, The Afghan Camera (individual photo
      exhibition) Centro Cultural de la Memoria Haroldo Conti, Buenos Aires,
      Argentina, Palimpsest (individual photo exhibition) Centro Cultural de
      España, Lima, Peru, Palimpsest & Portraits: Revealed Stories (individual
      photo exhibition)
    </p>
  </div>
</div>
