.ui-card{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    width: 30%;
}

.title-text{
    font-size: 50px;
    margin-top: 70px;
    margin-bottom: 25px;
}