/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: "Castlefire";
  src: url( /assets/Fonts/Castlefire.ttf);
}


body { 
    background: #222;
    padding-left: 50px;
    padding-right: 50px;
    font-family: "Castlefire";
    color: floralwhite;
  }
